.imageContainer {
  background-image: url(/vinyl-4808792_1280.jpg);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.noResultContainer {
  height: calc(50% + 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.link {
  padding: 32px;
  font-size: 24px;
  align-self: flex-start;
}

@media (max-width: 425px) {
  .link {
    font-size: 16px;
  }
}
