.lyricsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lyrics {
  white-space: pre-wrap;
  line-height: 2;
  text-align: center;
  padding: 0 0 48px 0;
  width: 50%;
  margin: 0 auto;
  min-height: 50vh;
  align-content: center;
}
