.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawAnimation {
  width: 560px;
  max-width: 80%;
  height: 560px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  filter: drop-shadow(0 0 1 #fff) drop-shadow(0 0 3 #fff)
    drop-shadow(0 0 10 #ff80b3) drop-shadow(0 0 30 #ff4d94)
    drop-shadow(0 0 50 #ff0066);
  stroke: #fff;
  stroke-width: 1;
  animation: draw 2.5s ease-in-out infinite 1s;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 2000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 2000;
  }
}
